p {
  color: rgb(201, 182, 9);
}

.second {
  color: rgb(255, 255, 255);
}

ul {
  list-style: none;
  margin-left: -4px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  color: black;
  text-align: center;
}

li {
  border-radius: 10px;
  padding: 1em;
  width: 8em;
  background: cyan;
}